* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

body {
    background: gray;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    background: black;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1em;
}

.icon {
    width: 2em;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1em;
}

.nav-item {
    text-transform: uppercase;
}

.hamberger {
    display: none;
}

.hamberger-content {
    display: flex;
    flex-direction: column;
}

.hamberger-item {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 2px 0;
}

.hero {
    margin: 1em;
}

#hero-banner {
    background-image: url(./images/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    border-radius: 20px;
    padding: 4em;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;

    color: white;
    font-size: clamp(0.7em, 2vw, 1.5em);
}

.hero-s {
    margin-bottom: 0.3em;
}

.hero-title {
    text-transform: uppercase;
    margin-bottom: 1em;
}

.hero-subtitle {
    margin-bottom: 1em;
}

.hero-btn,a {
    text-decoration: none;
    color: white;
    background: gray;
    border-radius: 20px;
    padding: 1em;
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1em;
    justify-items: center;
}

.service-item {
    color: white;
    text-transform: uppercase;
    font-size: clamp(0.7em, 2vw, 1em);
}

.gallery-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 1em;
    justify-items: center;
}

.gallery-item {
    display: flex;
    justify-content: center;
}

.gallery-item img {
    width: 100%;
    border-radius: 20px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    font-size: clamp(0.8em, 2vw, 1em);
}

.footer-text {
    margin-bottom: 0.5em;
}

  /* Responsive */
@media screen and (max-width: 600px) {
    nav {
        display: none;
    }

    .hamberger {
        display: block;
    }

    .services {
        grid-template-columns: repeat(2, 1fr);
    }

    #service-item3 {
        display: none;
    }

    .gallery-content {
    grid-template-columns: repeat(2, 1fr);
    }
}